# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_PICA40_LEFT

config ZMK_KEYBOARD_NAME
	default "pica40"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_PICA40_LEFT || SHIELD_PICA40_RIGHT

config ZMK_SPLIT
	default y

endif